{% extends 'base_register.html' %}
{% load bootstrap4 %}
{% load static %}
{% block container %}

<section class="signin-page account">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="block text-center">
                    <a class="logo" href="index.html">
                    <img src="{% static 'images/logo.png' %}" alt="">
                    </a>
                    <h2 class="text-center">Create Your Account</h2>

                    <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button class="btn btn-main text-center" type="submit">Sign UP</button>
                    {% endbuttons %}
                    </form>
                <p class="mt-20">Already hava an account ?<a href="login.html"> Login</a></p>
                <p><a href="forget-password.html"> Forgot your password?</a></p>
              </div>
          </div>
      </div>
    </div>
</section>
{% endblock %}